name: Node.js Package Publish NPM

on:
  release:
    types: [created]

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/
      - run: cd src/randflake-ts/sparx64 && npm publish && cd ../../
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
      - run: cd src/randflake-ts/randflake && npm i && npm publish && cd ../../
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
